language: php

php:
  - 7.4

before_script:
  - composer install
  - composer global require php-coveralls/php-coveralls

script:
  - mkdir -p build/logs
  - vendor/phpunit/phpunit/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php /home/travis/.config/composer/vendor/bin/php-coveralls
